* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.el {
  font-family: "El Messiri", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.alice {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}
.blue {
  color: #293d69;
}
.wrap-accommodation {
  word-wrap: break-word; /* Wrap long words inside the cell */
  word-break: break-all; /* Break long words that don't fit within the column */
}
.datecell {
  width: 70px;
  padding-left: 5px;
}
.citycell {
  width: 120px;
  padding-left: 5px;
}

.listwrap {
  word-wrap: break-word; /* Ensures long words break */
  word-break: break-word; /* Alternative for better browser support */
  white-space: normal; /* Allows text to wrap normally */
}
